.add-btn{ 
    position: fixed; 
    right: 20px; 
    bottom: 20Px; 
}
app-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}
.content {
    padding-top: 3em;
}