<div>
  <app-toolbar></app-toolbar>
  <div class="content">
   <mat-list>
      <mat-list-item *ngFor="let todo of todos">
         <p mat-line>
            <mat-checkbox (change)="completeTodo(todo.ID, $event.checked)">{{todo.Description}}</mat-checkbox>
         </p>
         <button mat-icon-button (click)="updateTodo(todo.ID)">
            <mat-icon>edit</mat-icon>
         </button>
         <span style="position:relative; right: 35x">
            <button mat-icon-button (click)="deleteToDo(todo.ID)">
               <mat-icon>delete</mat-icon>
            </button>
         </span>
      </mat-list-item>
   </mat-list>
  </div>
  <div class="add-btn">
    <button mat-fab color="primary" (click)="createTodo()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>